/* * Challenge Contents Class Starts Here */

.gameImage {
	width: 100px;
	height: 100px;
}
/* *  Pill Class Starts Here */

.pill {
	padding: 0px 8px;
	border-radius: 4px;
	max-height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* * Button Class Starts Here */

.buttonContainer {
	display: inline-block;
	padding: 14px 16px;
	border-radius: 5px;
	width: 100%;
	transition: all 0.5s;
	box-sizing: border-box;
}

.buttonContents {
	display: flex;
	justify-content: center;
}

.buttonContainer:hover {
	filter: var(--hover);
}

/* * GameHeader Class Starts Here */
.gifHeader {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	/* background-image: url("../assets/games/FallGuys.png"); */
	background: blue;
	width: 100%;
	height: 245px;
}

.gameTitle {
	margin-top: -55px;
	margin-left: 12px;
}

.backButton {
	position: absolute;
	top: 20px;
	left: 12px;
}
/* * Type Input Class Starts Here */

.inputContainer {
	background: white;
	height: 64px;
	border-radius: 5px;
	box-shadow: var(--shadow);
}

.typeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
	height: 100%;
	border-radius: 5px;
}

.toggleContainer {
	width: 40px;
	height: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rail {
	opacity: 30%;
	width: 40px;
	height: 10px;
	border-radius: 10px;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 30px;
	position: absolute;
	transition: all 0.3s;
}

.left {
	left: 0px;
	background: var(--main-black);
}

.right {
	left: 20px;
	background: var(--green);
}

.inactive {
	background: var(--main-black);
}

.active {
	background: var(--green);
}

.photoButtonContainer {
	margin-top: 25px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}

.fakeUploadButton {
	padding: 18px 28px;
	text-align: center;
	width: 50%;
	font-size: var(--p);
	font-weight: 700;
	font-family: "Roboto", serif;
	color: var(--blue);
	background: rgba(2, 133, 255, 0.10);
	display: block;
	position: absolute;
	border-radius: 6px;
	top: 19px;
	transition: all 0.5s;
	cursor: pointer;
}

.fakeUploadButton:hover {
	background: var(--blue);
	color: white;
}

.uploadButton {
	opacity: 0%;
	width: 50%;
}

.imgPreview {
	max-width: 90px;
	min-width: 90px;
	max-height: 90px;
	min-height: 90px;
	object-fit: cover;
	border-radius: 5px;
}
